/* title font: "Windsong" */

@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap");


/* remove browser defaults */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* set defaults */

body {
    background-color: rgb(255, 226, 215);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 90%;
    margin: 0 5%;
    text-align: center;
}


/* header */

.title {
    font-family: "WindSong", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    margin: 0;
}

.title-container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.title-container img {
    opacity: 0.3;
    width: 250px;
}

.title1 {
    color: rgb(50, 0, 0);
    font-size: 200%;
    position: absolute;
    right: 40px;
    top: 22px;
    width: 100%;
    display: inline-block;
}

.title2 {
    font-size: 250%;
    left: 30px;
    position: absolute;
    top: 60px;
    width: 100%;
    display: inline-block;
}

.title3 {
    font-size: 300%;
    position: absolute;
    right: 100px;
    top: 60px;
    width: 100%;
    display: inline-block;
}

.subtitle {
    color: maroon;
    font-family: 'Arial Narrow', sans-serif;
    left: 50px;
    position: absolute;
    top: 120px;
    width: 100%;
    text-transform: initial;
    font-size: 75%;
    display: inline-block;
}


/* body */

h1 {
    font-size: 200%;
    margin-top: 0;
}

h2 {
    font-size: 150%;
    color: maroon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}


/* responsive design */

@media screen and (min-width: 768px) {
    /* set defaults */

    body {
        font-size: 20px;
        width: 80%;
        margin: 0 10%;
    }
}

@media screen and (min-width: 992px) {
    /* set defaults */

    body {
        font-size: 25px;
        width: 60%;
        margin: 0 20%;
    }


    /* header */

    .title-container img {
        width: 400px;
    }

    .title1 {
        font-size: 250%;
        right: 60px;
        top: 30px;
    }

    .title2 {
        font-size: 280%;
        left: 40px;
        top: 90px;
    }

    .title3 {
        font-size: 350%;
        right: 142px;
        top: 85px;
    }

    .subtitle {
        left: 50px;
        top: 200px;
        font-size: 75%;
    }
}