/* title font: "Windsong" */

@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap");


/* remove browser defaults */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* set defaults */

body {
    background-color: rgb(255, 226, 215);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 90%;
    margin: 0 5%;
    text-align: center;
}


/* header */

.title {
    font-family: "WindSong", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    margin: 0;
}

.title-container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.title-container img {
    opacity: 0.3;
    width: 250px;
}

.title1 {
    color: rgb(50, 0, 0);
    font-size: 200%;
    position: absolute;
    right: 40px;
    top: 22px;
    width: 100%;
    display: inline-block;
}

.title2 {
    font-size: 250%;
    left: 30px;
    position: absolute;
    top: 60px;
    width: 100%;
    display: inline-block;
}

.title3 {
    font-size: 300%;
    position: absolute;
    right: 100px;
    top: 60px;
    width: 100%;
    display: inline-block;
}

.subtitle {
    color: maroon;
    font-family: 'Arial Narrow', sans-serif;
    left: 50px;
    position: absolute;
    top: 120px;
    width: 100%;
    text-transform: initial;
    font-size: 75%;
    display: inline-block;
}


/* body */

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
    color: maroon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin: 10px;
}

ul {
    list-style: disc outside url(../favicon/favicon-16x16.png);
    margin-left: 25px;
}

a {
    color: maroon;
    font-size: 90%;
    display: inline-block;
    margin: 0 5px 10px;
}

a:hover {
    color: coral;
    transition: 1s;
}


/* special selectors */

.right-column ul {
    width: 220px;
    margin-left: 20%;
}

.description {
    color: coral;
    font-size: 110%;
}

button {
    background: maroon;
    border: outset 1px darkred;
    border-radius: 100px;
    box-shadow: 0 15px 20px rgba(165, 42, 42, 0.5);
    color: rgb(255, 228, 193);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 100;
    margin: 25px;
    padding: 25px;
    min-width: 50%;
}

button:hover {
    box-shadow: 0 15px 20px rgba(165, 42, 42, 0.6);
    color: coral;
}

fieldset {
    border: solid 2px tan;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 25px;
}

hr {
    border-color: tan;
    margin: 5px 0;
}

legend {
    color: maroon;
    font-family: "WindSong", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 180%;
    font-weight: 400;
}

.subdescription, iframe {
    border: 5px outset darkred;
    border-radius: 25px;
    margin-top: 5px;
}

.offer {
    background-color: rgb(255, 228, 193);
    border: 5px dotted coral;
    color: brown;
    padding: 10px 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.offer p:nth-of-type(1) {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.offer p:nth-of-type(2) {
    font-family: "WindSong", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    word-spacing: 10px;
}

.disclaimer {
    font-size: 60%;
    font-weight: 100;
    margin: 0 5px;
    bottom: -25px;
    text-align: left;
}

h2 a {
    text-decoration: none;
    font-size: 100%;
}

.maps {
    text-align: center;
}

iframe {
    width: 90%;
    height: 50vh;
}


/* footer */

footer {
    background-color: maroon;
    bottom: 0;
    position: fixed;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.socials {
    flex-basis: 50%;
    display: flex;
    justify-content: space-evenly;
}

.nav {
    flex-basis: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

footer a {
    color: rgb(255, 228, 193);
    margin: 5px 5px 10px;
    text-align: center;
    font-size: 75%;
    flex-grow: 2;
}

footer button {
    background-color: #00000000;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin: 15px 5px 5px;
    font-size: normal;
}

footer button:hover {
    box-shadow: none;
}

footer path {
    fill: rgb(255, 228, 193);
}

footer button:hover path {
    fill: coral;
    transition: 1s;
}

.footer-offset {
    margin-bottom: 65px;
}


/* responsive design */

@media screen and (min-width: 768px) {
    /* set defaults */

    body {
        font-size: 20px;
        width: 80%;
        margin: 0 10%;
        text-align: left;
    }


    /* body */

    section > section {
        margin: 0 25px;
    }

    .center {
        text-align: center;
    }

    .columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .left-column {
        flex: 2 2 250px;
    }
    
    .right-column {
        flex: 3 3 250px;
        text-align: center;
    }


    /* special selectors */
    
    .right-column ul {
        width: auto;
        margin-left: 50px;
        text-align: left;
    }


    /* footer */
    
    footer {
        width: 80%;
    }

    footer a {
        margin: 10px 10px 5px;
        font-size: 80%;
    }

    footer button {
        margin: 10px;
    }

    .socials {
        flex-basis: 33%;
    }

    .nav {
        flex-basis: 66%;
    }
}

@media screen and (min-width: 992px) {
    /* set defaults */

    body {
        font-size: 25px;
        width: 60%;
        margin: 0 20%;
    }


    /* header */

    .title-container img {
        width: 400px;
    }

    .title1 {
        font-size: 250%;
        right: 60px;
        top: 30px;
    }

    .title2 {
        font-size: 280%;
        left: 40px;
        top: 90px;
    }

    .title3 {
        font-size: 350%;
        right: 142px;
        top: 85px;
    }

    .subtitle {
        left: 50px;
        top: 200px;
        font-size: 75%;
    }


    /* footer */
    
    footer {
        width: 60%;
    }

    .footer-offset {
        margin-bottom: 70px;
    }
}